.page {
	main {
		.chat-navbar {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			position: fixed;
			top: 0;
			height: 70px;

			background-color: #2a2f3a;
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.219);

			.navbar-left {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.go-back-button {
					border-radius: 50%;
					margin: 15px;
					text-align: center;

					width: 40px;
					height: 40px;

					img {
						width: 40px;
						height: 40px;
					}

					transition: all 0.1s ease-in-out;
					&:hover,
					&:focus {
						backdrop-filter: brightness(1.1);
					}
				}

				.contact-information {
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						border-radius: 50%;
						width: 45px;
					}

					p {
						margin: 0 0 0 5px;
					}
				}
			}
		}

		.chat-content {
			margin-top: 70px;
			padding-bottom: 70px;
			height: 100%;
		}

		.message-bar {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			position: fixed;
			bottom: 0;
			height: 70px;

			background-color: #2a2f3a;
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.219);

			.message-input {
				width: 100%;
				border-radius: 5px;
				padding: 10px;

				margin: 0 10px 0 10px;

				background-color: #252933;
				border: 1px solid #252933;
				color: white;
				outline: none !important;

				transition: all 0.1s ease-in-out;

				&:focus {
					border: 1px solid #5294e2;
				}
			}

			.message-bar-buttons {
				display: flex;
				align-items: center;
				justify-content: center;

				margin: 0 10px 0 5px;
				text-align: center;

				width: 30px;
				height: 30px;

				img {
					width: 30px;
					height: 30px;
				}

				transition: all 0.1s ease-in-out;
				&:hover,
				&:focus {
					backdrop-filter: brightness(1.1);
				}
			}
		}
	}
}
