.page {
	.navbar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		position: fixed;
		top: 0;
		height: 70px;

		background-color: #2a2f3a;

		padding: 0 15px 0 15px;

		.branding {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 50px;
				height: 50px;
			}
		}

		.navbar-trigger {
			user-select: none;
			cursor: pointer;

			background-color: #383c4a;
			border: none;
			padding: 10px;
			border-radius: 5px;

			display: flex;
			align-items: center;
			justify-content: space-between;

			width: 200px;

			.contact-information {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img {
				width: 30px;
				border-radius: 50%;
			}

			p {
				margin: 0 0 0 10px;
			}
		}
	}

	.contact-list {
		margin-top: 80px;

		.contact-card {
			margin-top: 3px;
			background-color: #2a2f3a;

			display: flex;

			.contact-information {
				display: flex;
				align-items: center;
				justify-content: center;

				padding: 10px;

				object {
					border-radius: 50%;
					width: 50px;
				}

				h3 {
					margin: 0 0 0 5px;
				}
			}
		}
	}
}

.navbar-options {
	user-select: none;

	background-color: #383c4a;
	margin: 5px 0 0 0;

	width: 200px;
	border-radius: 5px;

	hr {
		border: 0.2px solid #4b5162;
	}

	.navbar-option {
		padding: 15px;
		width: 100%;

		text-align: right;
		cursor: pointer;

		transition: all 0.1s ease-in-out;

		&:hover {
			backdrop-filter: brightness(1.1);
		}
    }
}
