.page {
    height: 100%;
    background-color: #252a34;
    background-size: cover;

    .login-form,
    .tfa-form {
        color: #d8d8d8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 90%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;

        background-color: #2a2f3a;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        a {
            color: #5294e2;
            text-decoration: none;
        }

        button {
            background-color: #5294e2 !important;
        }

        p {
            margin: 0;
            padding: 0;
        }

        input {
            width: 100%;
            border-radius: 5px;
            padding: 5px;

            background-color: #222630;
            border: 1px solid #212530;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            color: white;
            outline: none !important;

            transition: all 0.1s ease-in-out;

            &:focus {
                border: 1px solid #5294e2;
            }
        }

        button {
            border-radius: 5px;
            padding: 5px;
            width: 100%;
            border: none;
            outline: none !important;

            background-color: #2196f3;
            color: white;

            font-weight: bold;
            cursor: pointer;
        }

        .reset-password {
            display: flex;
            align-items: center;
            text-align: right;
            justify-content: flex-start !important;

            margin-top: 20px;
            margin-bottom: -20px;
        }

        .error-label {
            color: #ed4245;
        }
    }
}