.page {
	min-height: 100vh;
	background-color: #252a34;

	main {
		min-height: 100vh;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.register-form {
			width: 30%;
			padding: 20px;
			border-radius: 10px;

			background-color: #2a2f3a;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

			label {
				margin: 0 0 10px 0;
			}

			input {
				width: 100%;
				border-radius: 5px;
				padding: 10px;

				background-color: #222630;
				border: 1px solid #212530;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
				color: white;
				outline: none !important;

				transition: all 0.1s ease-in-out;

				&:focus {
					border: 1px solid #5294e2;
				}
			}

			.buttons {
				display: flex;
				justify-content: space-between;

				button,
				a {
					border-radius: 5px;
					padding: 5px;
					border: none;
					outline: none !important;

					width: 100%;

					font-weight: bold;
					cursor: pointer;
				}

				.login-button {
					background-color: #2196f3;
					color: white;
				}

				.no-account-button {
					color: #2196f3;
					background-color: transparent;
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	.page {
		main {
			.register-form {
				width: 90%;
			}
		}
	}
}
