.page {
    height: 100vh;
    background-color: #252a34;
    background-size: cover;

    .navbar * {
        color: white;
    }

    .register-form {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 500px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;

        background-color: #2a2f3a;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        a {
            color: #5294e2;
            text-decoration: none;
        }

        button {
            background-color: #5294e2 !important;
        }

        p {
            margin: 0 !important;
            padding: 0 !important;
        }

        .already-a-user {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            text-align: right;
        }

        .error-label {
            color: #ed4245;
        }

        input {
            width: 100%;
            border-radius: 5px;
            padding: 5px;

            background-color: #222630;
            border: 1px solid rgba(55, 60, 62, 0.8);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            color: white;
            outline: none !important;

            &:focus {
                border: 1px solid #2196f3;
            }
        }

        button {
            border-radius: 5px;
            padding: 5px;
            width: 100%;
            border: none;
            outline: none !important;

            background-color: #2196f3;
            color: white;

            font-weight: bold;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 992px) {
    .page {
        .register-form {
            width: 90%;

            .already-a-user {
                margin-top: 30px;
                margin-bottom: 10px;
                justify-content: flex-start !important;
            }
        }
    }
}
