.dialog {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.452);
	width: 100vw;
	height: 100vh;

    z-index: 20;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.dialog-content {
		background-color: #2a2f3a;
		padding: 20px;
		min-width: 300px;
		border-radius: 10px;
	}

	button {
		border-radius: 5px;
		padding: 10px;
		border: none;
		outline: none !important;

		width: 100%;

		font-weight: bold;
		cursor: pointer;

		background-color: #2196f3;
		color: white;
	}
}
