.component {
    color: white;

    img,
    video {
        max-width: 250px !important;
        border-radius: 5px;
    }

    .by-me {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .file {
            color: #c5c5c5 !important;
            text-decoration: none;

            svg {
                color: white !important;
            }
        }

        .content {
            background-color: #5294e2;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

            padding: 10px;
            border-radius: 5px;

            margin-bottom: 10px;
            overflow-wrap: break-word;

            width: max-content;
            min-width: 100px;
            max-width: 80vw;

            .timestamp {
                text-align: right !important;
                font-size: 10px;
                padding: 0;
                margin: -14px 0 -5px 0;
                color: #ebebeb;
            }
        }
    }

    .not-by-me {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        .file {
            color: #5294e2 !important;
            text-decoration: none;

            svg {
                color: white !important;
            }
        }

        .content {
            background-color: #383e4d;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

            padding: 10px;
            border-radius: 5px;

            overflow-wrap: break-word;
            text-align: left;
            margin-bottom: 10px;

            width: max-content;
            min-width: 100px;
            max-width: 80vw;

            .timestamp {
                text-align: right !important;
                font-size: 10px;
                padding: 0;
                margin: -14px 0 -5px 0;
                color: #bbbbbb;
            }
        }
    }
}
