.page {
    height: 100%;
    background-color: #252a34;
    background-size: cover;

    color: white;

    .categories {
        text-align: center;

        width: 100% !important;
        height: 70%;
        padding: 0 !important;

        border-radius: 5px;

        .tab {
            color: white !important;
        }

        .avatar {
            .add-picture {
                background-color: #5294e2;
                padding: 5px;

                width: 40px;
                height: 40px;
                border-radius: 10px;
            }
        }

        .actions {
            text-align: left !important;

            .action {
                padding: 0;
                border-bottom: 1px solid #313746;

                .action-title {
                    color: #bbbbbb;
                    margin-bottom: 0px !important;
                    padding: 0;
                }

                .action-icon {
                    text-align: right !important;
                }
            }
        }
    }
}

.dialog-container {
    border: none !important;
    outline: none !important;
    
    .dialog {
        color: white !important;
        background-color: #2a2f3a !important;
        text-align: center;
    
        button {
            color: #5294e2 !important;
        }
    
        img {
            border-radius: 5px;
        }
    
        input {
            width: 100%;
            border-radius: 5px;
            padding: 5px;
    
            background-color: #222630;
            border: 1px solid #212530;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            color: white;
            outline: none !important;
    
            transition: all 0.1s ease-in-out;
    
            &:focus {
                border: 1px solid #5294e2;
            }
        }
    
        .dialog-label {
            text-align: left !important;
            margin-bottom: 0;
        }
    
        .error {
            color: #ed4245;
        }
    }
}

